<template>
 <div class="section">
    <div class="container is-fluid">
      <div class="columns is-multiline">
          <div class="column is-3" v-for="product in products" :key="product.slug">
              <Product :product="product" />
          </div>

          <ExampleComponent/>  
      </div>
    </div>
  </div>
</template>

<script>
import Product from '../components/ProductComponent'
import ExampleComponent from '../components/ExampleComponent.vue';

export default {
  data() {
    return {
      products: []
    };
  },
  components: {
    Product
  },
  created() {
    this.getProducts();
  },
  methods: {
    async getProducts() {
      console.log('clicked');
      await axios.get('/api/products').then(response => {
        console.log(response.data);
        this.products = response.data.data;
      })
    }
  },
};
</script>
