<template>
  <div>
    <form action="#" @submit.prevent="handleLogin">

      <div>
        <input type="email" v-model="formData.email" id="email" placeholder="Email address">
        <input type="password" v-model="formData.password" id="email" placeholder="Password">
        <button type="Submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      formData: {
        email: '',
        password: '',
      }
    }
  },
  methods: {
    handleLogin(){

    }
  }
}
</script>