<template>
  <div>
    <div class="container mx-auto">

      <button class="button bg-yellow-300" @click="getProducts">Get Products</button>

      <div class="flex flex-wrap justify-between p-5 mt-4" v-for="product in products" :key="product.id">

        <!-- product card -->

        <div>
          <img src="#" alt="Product image">
        </div>

        <div>
          <h1>{{product.title}}</h1>
          <p>INR {{product.price.amount / 100}}:</p>
        </div>

        <div>
          <button class="button bg-gray-900">
            Add To cart
          </button>
        </div>


      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      products: [],
      error: '',
    }
  },
  created() {
    this.getProducts();
  },
  methods: {
    async getProducts() {
      console.log('clicked');
      await axios.get('/api/products').then(response => {
        console.log(response.data);
        this.products = response.data.data;
      })
    }
  },
}
</script>